@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-card{
    /* border: 1px solid black; */
    height: 650px;
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: white;
    /* gap: 100px; */
    border-radius: 9px;
    text-align: center;
    padding: 14px 40px;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    transition: 0.3s;
}
.login-card  > button{
    height: 40px;
    width: 100%;
    margin-bottom: 30px;
    background-color: #d11243;
    color: white;
    border: none;
    font-family: 'Lato';
    font-weight: bold;
    font-size: 17px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}
.login-card  > button:hover{
    background-color: #a10028;
    font-size: 19px;
}
.login-card > h1{
    margin-bottom: 40px;
    /* position: fixed; */
    /* top:  130px; */
}

.login-card >input{
    height: 40px;
    margin-bottom: 30px;
    width: 100%;
    padding-left: 10px;
    font-family: 'Lato';
    font-size: 15px;
    /* border-radius: 5px; */
    border: none;
    outline: none;
    border-bottom: 2px solid black;

}
main{
    height: 100vh;
    display: flex;
    background-color: #f7f6f6;
}
img{
    width: 50%;
    margin-top: 30px;
}

.sign > h3{
    color: #4a4a4a;
}
.sign{
    display: flex;
    margin-top: 20px;
    gap: 7px;
    align-items: center;
    justify-content: center;
}
.sign > a{
    font-size: 17px;
    font-weight: bolder;
}
